@charset "utf-8";

.pagination {
	text-align: center
}
.pagination li {
	display: inline-block;
	list-style: none;
	padding: 5px 9px;
	background: #eee;
}
.pagination li.current {
	background: green;
	color: #fff;
}